<div class="o-grid-row">
	<div class="intro" data-o-grid-colspan="12 M10 L8 center">
		<h1>{{options.title}}</h1>
		<p>{{options.intro}}</p>
		<h4>{{options.subtitle}}</h4>
	</div>
	<div class="container" data-o-grid-colspan="12 M10 L8 center"></div>
		
	<div class="bios" data-o-grid-colspan="12 center">
		<div class="footnote">{{options.note}}</div>
		<div class="uni-name"></div>
	</div>
	<div class="notes" data-o-grid-colspan="12 M10 L8 XL6 center">
		<div class="methodology">{{options.note}}</div>
	</div>
</div>
